body{
    background-color: black;
}
.description{
    height: 25px;
    overflow: hidden;
    

}
.description:hover{
    height: 80px;
    transition: height .3s ease-in .3s;

}
header{
    z-index: 100;
}
.tabla__producto img{
        
        width: 12vw;
}
.table__cantidad input{
    width: 60px;
}